.app__body {
  display: flex;
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Righteous';
}

@media only screen and (max-width: 1000px) {
  .app__body {
    flex-direction: column;
  }
}
