.header {
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1510932443911-6b3773dafb65?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Njd8fGNpbmVtYXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');
  object-fit: contain;
  color: white;
  height: 100px;
  font-family: 'Righteous';
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  .header > h1 {
    font-size: 1rem;
  }
}
