.nominee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.nominee > svg {
  color: rgb(189, 11, 11);
  cursor: pointer;
}

.nominee__details {
  display: flex;
  align-items: center;
}

.nominee__details > img {
  width: 50px;
  object-fit: contain;
  margin-right: 5px;
}
